* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:lightsteelblue;
}

input,
h2,
img {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: goldenrod;
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 5rem;
}

header > img {
  height: 70%;
  margin-left: 1rem;
}

header > p {
  font-family: fantasy;
  color: indigo;
  font-size: 4rem;
  margin-left: 5rem;
}

.meme-form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.meme-form > input {
  width: 40%;
  height: 40px;
}

.meme-form > button {
  font-family: VT323, monospace;
  font-size: 25px;
  border: none;
  color:blueviolet;
  background-color: navajowhite;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.meme-form > input::placeholder {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: lightskyblue;
}

.meme-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme-wrapper > h2 {
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme-wrapper > img {
  width: 100%;
}

.top-text {
  top: 0;
}

.bottom-text {
  bottom: 0;
}

.random-img {
  width: 80%;
}
